body{
  background-color: hsl(30, 38%, 92%);
  text-align: center;
}
.product-pic{
  height: 25rem;
  float: left;
  margin-right: 30px;
  border-radius: 8px 0 0 8px;

}
.pack{
  background-color: white;
  width: 36.9rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  border-radius: 8px;
}
.product{
  text-align: left;
  width: 50%;
  margin: 0 auto;
  font-family: 'Fraunces', serif;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.pro-title{
  text-align: left;
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
.product-decription{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
}

.compensate{
  clear: left;
}
.shopping-cart{
  height: 1rem;
}
.new-cost{
  display: inline-block;
  font-family: 'Fraunces', serif;
  font-size: 1.65rem;
  color: #3e9473;
  text-align: left;
  width: 7.5rem;
  margin: 18px 0;

}
.old-cost{
  display: inline-block;
  text-decoration: line-through;
  font-size: 14px;
  text-align: left;
  width: 10.6rem;

}
.btn {
  background: #3e9473;
  background-image: -webkit-linear-gradient(top, #3e9473, #379974);
  background-image: -moz-linear-gradient(top, #3e9473, #379974);
  background-image: -ms-linear-gradient(top, #3e9473, #379974);
  background-image: -o-linear-gradient(top, #3e9473, #379974);
  background-image: linear-gradient(to bottom, #3e9473, #379974);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border: none;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 13px;
  padding: 15px 70px 15px 70px;
  text-decoration: none;
  width: 41%;
  margin-right: 2.6rem;

}

.btn:hover {
  background: #045c39;
  background-image: -webkit-linear-gradient(top, #045c39, #045e3b);
  background-image: -moz-linear-gradient(top, #045c39, #045e3b);
  background-image: -ms-linear-gradient(top, #045c39, #045e3b);
  background-image: -o-linear-gradient(top, #045c39, #045e3b);
  background-image: linear-gradient(to bottom, #045c39, #045e3b);
  text-decoration: none;
}
